<%= form_for :dump, :url => csv_import_import_from_csv_index_path,
             :html => {:multipart => true, :id => "my-form"} do |f| %>
    <input type="hidden" name="project_id" value="<%= @project.id %>"/>
    <fieldset>
      <label for="dump_file"><h2>Select a CSV File :</h2></label>

      <p><%= f.file_field :file %></p>
      <p><%= submit_tag 'Import' %></p>
      <p><%= l :format_hint %></p>
      <p><%= l :required_fields %></p>
      <p><%= l :optional_fields %></p>
    </fieldset>
<% end %>